<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="ExchangeRateTableImpl" class="cz.muni.fi.pa165.currency.ExchangeRateTableImpl"/>
  <bean id="CurrencyConvertorImpl" class="cz.muni.fi.pa165.currency.CurrencyConvertorImpl">
      <constructor-arg index="0" ref="ExchangeRateTableImpl"/>
  </bean>

</beans>